body {background-color:#ffffff}

h1 {
    color:darksalmon; font-style: normal; font-size:20; font-family:monospace; margin:30px; padding:45px; 
}


h2 {color:lightslategray; font-style: normal; font-size:20; font-family:monospace; margin:20px; padding:20px}

h3 {color:lightslategray; font-style: normal; font-size:20; font-family:monospace; margin:20px; padding:20px}

h4 {color:lightslategray; font-style: normal; font-size:20; font-family:monospace; margin:20px; padding:20px}

h5 {color:lightslategray; font-style: normal; font-size:20; font-family:monospace; margin:20px; padding:20px}

img {margin:50px;

}

a {color: #a680b3;
}

a:link {
  text-decoration: none;
}

p {color: #ff8090; font-style:normal; font-size:20; font-family:monospace;}

p1 {color: #ff8090; font-style:normal; font-size:20; font-family:monospace;}
